<h1>Recipe Collection</h1>

<a href="/new">Add A Recipe</a>

<h2>Your Recipes</h2>
<% @recipes.each do |recipe| %>
  <%= recipe.recipe_name %>
  <a href="/recipes/<%= recipe.id %>">Details</a> <a href="/recipes/<%= recipe.id %>/edit">Edit</a><br>
<% end %>
